body
{
	width: 600px;
	font-family: sans-serif;
}

nav ul
{
	list-style-type: none;
	padding-left: 0;
}

nav ul ul
{
	display: none;
}

nav ul li
{
	text-align: center;
	width: 130px;
}

nav > ul > li
{
	float: left;
}

nav ul li a
{
	display: block;
	color: gold;
	background-color: blue;
	text-decoration: none;
	padding: 5px 0;
}

nav ul a:hover 
{
	background-color: gold;
	color: blue;
}

nav ul li:hover > ul
{
	display: block;
}

nav ul ul li:hover
{
	position: relative;
}

nav ul ul li:hover >ul
{
	display: block;
	position: absolute;
	left: 100%;
	top:0;
}

nav ul li.end-of-menu ul li:hover >ul
{
	display: block;
	position: absolute;
	left: -100%;
	top:0;
}