body
{
	position: relative;
	font-family: sans-serif;
	text-align: center;
	display: block;
    color: #bbb;
    background: #222;
	padding: 25px;
}

nav
{
	text-align: center;
	background-color : rgb(39, 39, 43);
	display: block;
	padding: 8px;
	font-size: 20px;
}
nav a
{
	text-align: center;
	color: lightblue;	
	text-decoration: none;
	padding: 5px;
}

nav a:hover 
{
	background-color: lightblue;
	color: black;
	text-decoration: none;
}

#regionSelect
{
	padding-bottom: 20px;
}


#contains
{
	width: 570px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 20px;
	outline: solid black;
	background-color: dimgrey
	
}


#links
{
	position: relative;
	margin: auto;
	background-color: black;
	border: 2px solid grey;
	font-size: 15px;
	width:  500px;
  	height: 500px;
  	overflow-x: auto;
}


#links a
{
	display: block;
	color: lightblue;	
	text-decoration: none;
	background-color: black;
	padding: 10px;
	font-size: 20px;
}
