body
{
	position: relative;
	font-family: sans-serif;
	text-align: center;
	display: block;
    color: #bbb;
    background: #222;
	padding: 25px;
}

nav
{
	text-align: center;
	background-color : rgb(39, 39, 43);
	display: block;
	padding: 8px;
	font-size: 20px;
}
nav a
{
	text-align: center;
	color: lightblue;	
	text-decoration: none;
	padding: 5px;
}

nav a:hover 
{
	background-color: lightblue;
	color: black;
	text-decoration: none;
}

#regionSelect
{
	padding-bottom: 20px;
}

#cities, #poi { float: left; }
#poi, #information { float: left; }

#cities
{
	border: 4px dashed #900;
	ext-align: left;
	font-size: 15px;
	box-sizing: border-box;
	width: 150px;
  	height: 700px;
  	overflow-x: auto;
	position: relative;
}

#cities a
{
	ext-align: left;
	color: lightblue;	
	text-decoration: none;
	background-color: black;
	padding: 5px;
	display:block;
}

#poi
{
	border: 4px dashed #900;
	font-size: 15px;
	box-sizing: border-box;
	width: 150px;
  	height: 700px;
  	overflow-x: auto;
}

#poi a
{
	ext-align: left;
	color: lightblue;	
	text-decoration: none;
	padding: 5px;
	display:block;
	background-color: black;
}

#information
{
	border: 4px dashed #900;
	ext-align: left;
	font-size: 15px;
	box-sizing: border-box;
	width: 700px;
  	height: 700px;
  	overflow-x: auto;
	position: relative;
}
#information a
{
	ext-align: left;
	color: lightblue;	
	text-decoration: none;
	padding: 5px;
	display:block;
	background-color: black;
}