body
{
	position: relative;
	font-family: sans-serif;
	text-align: center;
	display: block;
    color: #bbb;
    background: #222;
	padding: 25px;
}

nav
{
	text-align: center;
	background-color : rgb(39, 39, 43);
	display: block;
	padding: 8px;
	font-size: 20px;
}
nav a
{
	text-align: center;
	color: lightblue;	
	text-decoration: none;
	padding: 5px;
}

nav a:hover 
{
	background-color: lightblue;
	color: black;
	text-decoration: none;
}

#regionSelect
{
	padding-bottom: 20px;
}


.contains
{
	display:flex;
	outline: solid black;
}



#cities
{
	flex:1;
	outline: solid black;
	ext-align: left;
	font-size: 15px;
	width:  50px;
  	height: 700px;
  	overflow-x: auto;
	z-index: -1;
}

#poi
{
	flex:2;
	font-size: 15px;
	box-sizing: border-box;
	width: 50px;
  	height: 700px;
  	overflow-x: auto;
	z-index: 10;
}


#information
{
	flex:3;
	outline: solid black;
	ext-align: left;
	font-size: 15px;
	width: 700px;
  	height: 700px;
  	overflow-x: auto;
	z-index: -1;
}

#cities a
{
	text-align: center;
	color: lightblue;	
	text-decoration: none;
	background-color: black;
	padding: 7px;
	border: 4px solid grey;
	display:block;
}

#poi a
{
	text-align: center;
	color: lightblue;	
	text-decoration: none;
	padding: 7px;
	border: 2px solid black;
	display:block;
	background-color: grey;
}

#information a
{
	text-align: center;
	color: lightblue;	
	text-decoration: none;
	padding: 7px;
	display:block;
	background-color: black;
}